In [13]:
import pandas as pd
pd.set_option("display.precision", 2)
data = pd.read_csv('titanic_train.csv',
                  index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [14]:
data['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [15]:
len(data.loc[data['Pclass'] == 2])

184

In [16]:
data[data['Pclass'] == 2]['Sex'].value_counts()

Sex
male      108
female     76
Name: count, dtype: int64

In [17]:
print(data['Fare'].median().round(2))
print(data['Fare'].std().round(2))

14.45
49.69

In [18]:
data[data['Survived'] == 1]['Age'].mean() > data[data['Survived'] == 0]['Age'].mean()

False

In [19]:
survived_young = len(data[(data['Age'] < 30) & (data['Survived'] == 1)])
all_people_young = len(data[data['Age'] < 30])
print(survived_young / all_people_young * 100)
survived_old = len(data[(data['Age'] > 60) & (data['Survived'] == 1)])
all_people_old = len(data[data['Age'] > 60])
print(survived_old / all_people_old * 100)

40.625
22.727272727272727

In [20]:
survived_male = len(data[(data['Sex'] == 'male') & (data['Survived'] == 1)])
all_people_male = len(data[data['Sex'] == 'male'])
print(survived_male / all_people_male * 100)
survived_female = len(data[(data['Sex'] == 'female') & (data['Survived'] == 1)])
all_people_female = len(data[data['Sex'] == 'female'])
print(survived_female / all_people_female * 100)

18.890814558058924
74.20382165605095

In [21]:
def get_first_name(full_name):
    words = full_name.split()
    first_name = ''
    if 'Mr.' in words:
        first_name = words[words.index('Mr.') + 1]
    return first_name

data['Name'] = data['Name'].apply(get_first_name)
names = data.loc[data['Name'] != 'null']
names_count = names.groupby(['Name']).size().reset_index()
names_count.columns = ['Name', 'Count']
names_sorted = names_count.sort_values(by=['Count'], ascending=False)
print(names_sorted)

         Name  Count
0                374
259   William     30
122      John     21
84     George     12
38    Charles     12
..        ...    ...
106    Ilmari      1
107   Ingvald      1
109     Jaako      1
111   Jacques      1
263  Yousseff      1

[264 rows x 2 columns]

In [22]:
print(data[(data['Sex'] == 'male') & (data['Pclass'] == 1)]['Age'].mean() > 40)
print(data[(data['Sex'] == 'female') & (data['Pclass'] == 1)]['Age'].mean() > 40)

True
False

In [23]:
print(data[(data['Sex'] == 'male') & (data['Pclass'] == 1)]['Age'].mean() > data[(data['Sex'] == 'female') & (data['Pclass'] == 1)]['Age'].mean())
print(data[(data['Sex'] == 'male') & (data['Pclass'] == 2)]['Age'].mean() > data[(data['Sex'] == 'female') & (data['Pclass'] == 2)]['Age'].mean())
print(data[(data['Sex'] == 'male') & (data['Pclass'] == 3)]['Age'].mean() > data[(data['Sex'] == 'female') & (data['Pclass'] == 3)]['Age'].mean())

True
True
True

In [24]:
print(data[(data['Pclass'] == 1)]['Age'].mean() > data[(data['Pclass'] == 2)]['Age'].mean())
print(data[(data['Pclass'] == 2)]['Age'].mean() > data[(data['Pclass'] == 3)]['Age'].mean())

True
True